body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(191, 208, 246, 0.194);
}
.ss-list {
}
.hidden {
  position: absolute;
  top: 0;
  left: 0;
  transform: translatey(-500%);
}

.is-visible {
  transform: translatey(0);
}
.breed-select {
  max-width: 500px;
  margin-top: 30px;
  margin-left: 30px;
  min-height: 30px;
  padding: 4px;
  font-size: 18px;
}

.loader {
  font-size: 22px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
}
.loader-is-visible {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border-bottom: 4px solid darkblue;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 22px;
}
.cat-info {
  position: relative;
  display: flex;
  gap: 50px;
  margin: 150px 30px;
}
.cat-image {
  max-width: 40%;
  max-height: 500px;
}
.cat-text {
  max-width: 60%;
  margin-right: 50px;
}
.cat-name {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 40px;
}
.cat-descr {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}
.cat-temper {
  font-size: 18px;
}
.temper-header {
  font-weight: bold;
}
